<div class="bg-body device-size">
    <div class="item">
        <div class="item-image">
            <img style="width:100%; height:auto;" src="/assets/images/k2700.jpg" alt="k2700">
        </div>
        <div class="item-description">
            <div>
                Kurzweil K2700
            </div>
            <div style="font-weight: bold; margin-top:5px;">
                $59,000.00
            </div>
            <div style="text-align: right;">
                <button  class="btn-add-cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Agregar al carrito</span>
                </button>
            </div>
        </div>
    </div>
</div>
