.articulos {
    width: var(--items-width);
    height: 100%;
    min-height: 400px;
}

.carrito {
    width: var(--car-width);
    position: absolute;
    right: 0;
    top:0;
    min-width: 300px;
    min-height: 400px;
    height: 100%;
}

